<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy;Profile Match 2021</span>
        <span class="text-muted" style="float:right;">Developer: <a href="https://www.linkedin.com/in/abhishekkmandal/">
                Abhishek
                Mandal</a></span>
    </div>
</footer>