<div class="container" style="
height: 30%;
display: flex;
justify-content: center;
align-items: center;
">
    <h1>Profile Match</h1>
</div>

<div class="container" style="
    height: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
">

    <button type="button" class="btn btn-primary">
        <div class="card">
            <div class="card-body">
                <h2><a href='/recruiter'>Recruiter</a></h2>
            </div>
        </div>
    </button>

    <button type="button" class="btn btn-primary">
        <div class="card">
            <div class="card-body">
                <h2><a href='/jobseeker'>Jobseeker</a></h2>
            </div>
        </div>
    </button>
</div>