<% layout('layouts/boilerplatec') %>
    <div>
        <h1>Search Job</h1>
        <form action="/jobseeker" method="POST">
            <h2>G-drive link of Resume</h2>
            <label for="resume">Link:</label>
            <input type="text" id="resume" name="resume"><br><br>

            <h2>Add Skill Set</h2>

            <label for="skillset1">1. </label>
            <input type="text" id="skillset1" name="skillset1">

            <label for="exp1">Experience </label>
            <input type="text" id="exp1" name="exp1"><br><br>

            <label for="skillset2">2. </label>
            <input type="text" id="skillset2" name="skillset2">

            <label for="exp2">Experience </label>
            <input type="text" id="exp2" name="exp2"><br><br>

            <label for="skillset3">3. </label>
            <input type="text" id="skillset3" name="skillset3">

            <label for="exp3">Experience </label>
            <input type="text" id="exp3" name="exp3"><br><br>

            <label for="skillset4">4. </label>
            <input type="text" id="skillset4" name="skillset4">

            <label for="exp4">Experience </label>
            <input type="text" id="exp4" name="exp4"><br><br>

            <label for="skillset5">5. </label>
            <input type="text" id="skillset5" name="skillset5">

            <label for="exp5">Experience </label>
            <input type="text" id="exp5" name="exp5"><br><br>


            <button>Show matching Job post</button>
        </form>
    </div>